<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunfusheng.mvvm.arch">

    <application>
        <provider
            android:name=".util.AppContextProvider"
            android:authorities="${applicationId}.AppContext"
            android:exported="false" />
    </application>
</manifest>